################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/Web_config_v1/FileContentIndex/*
*.config
*.suo
/packages
/bin
/packages/*
/Web_config_v1/bin
/Web_config_v1/bin/*
/packages
/Web_config_v1/obj/Debug/*
/Debug
/Web_config_v1/obj/Debug
