################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Web_config_v1/FileContentIndex/read.lock
/.vs/Web_config_v1/FileContentIndex/667833fd-145b-47f3-acfb-a5b72076e590.vsidx
/.vs/Web_config_v1/FileContentIndex/4daf0edb-0a72-4153-b469-0fc7ee39d30e.vsidx
/.vs/Web_config_v1/FileContentIndex/205a1176-cd46-4206-beea-63ac19662656.vsidx
*.config
*.suo
/packages/DotNetOpenAuth.AspNet.4.1.4.12333/lib/net40-full/DotNetOpenAuth.AspNet.xml
/packages/DotNetOpenAuth.AspNet.4.1.4.12333/lib/net40-full/DotNetOpenAuth.AspNet.dll
/packages/DotNetOpenAuth.AspNet.4.1.4.12333/lib/net45-full/DotNetOpenAuth.AspNet.xml
/packages/DotNetOpenAuth.AspNet.4.1.4.12333/lib/net45-full/DotNetOpenAuth.AspNet.dll
/packages/DotNetOpenAuth.AspNet.4.1.4.12333/DotNetOpenAuth.AspNet.4.1.4.12333.nupkg
/packages/DotNetOpenAuth.AspNet.4.1.4.12333/.signature.p7s
/packages/DotNetOpenAuth.Core.4.1.4.12333/content/web.config.transform
/packages/DotNetOpenAuth.Core.4.1.4.12333/lib/net35-full/DotNetOpenAuth.Core.xml
/packages/DotNetOpenAuth.Core.4.1.4.12333/lib/net35-full/DotNetOpenAuth.Core.dll
/packages/DotNetOpenAuth.Core.4.1.4.12333/lib/net40-full/DotNetOpenAuth.Core.xml
/packages/DotNetOpenAuth.Core.4.1.4.12333/lib/net40-full/DotNetOpenAuth.Core.dll
/packages/DotNetOpenAuth.Core.4.1.4.12333/lib/net45-full/DotNetOpenAuth.Core.xml
/packages/DotNetOpenAuth.Core.4.1.4.12333/lib/net45-full/DotNetOpenAuth.Core.dll
/packages/DotNetOpenAuth.Core.4.1.4.12333/DotNetOpenAuth.Core.4.1.4.12333.nupkg
/packages/DotNetOpenAuth.Core.4.1.4.12333/.signature.p7s
/packages/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333/lib/net35-full/DotNetOpenAuth.OAuth.Consumer.xml
/packages/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333/lib/net35-full/DotNetOpenAuth.OAuth.Consumer.dll
/packages/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333/lib/net40-full/DotNetOpenAuth.OAuth.Consumer.xml
/packages/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333/lib/net40-full/DotNetOpenAuth.OAuth.Consumer.dll
/packages/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333/lib/net45-full/DotNetOpenAuth.OAuth.Consumer.xml
/packages/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333/lib/net45-full/DotNetOpenAuth.OAuth.Consumer.dll
/packages/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333.nupkg
/packages/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333/.signature.p7s
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333/content/web.config.transform
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333/lib/net35-full/DotNetOpenAuth.OAuth.xml
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333/lib/net35-full/DotNetOpenAuth.OAuth.dll
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333/lib/net40-full/DotNetOpenAuth.OAuth.xml
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333/lib/net40-full/DotNetOpenAuth.OAuth.dll
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333/lib/net45-full/DotNetOpenAuth.OAuth.xml
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333/lib/net45-full/DotNetOpenAuth.OAuth.dll
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333/DotNetOpenAuth.OAuth.Core.4.1.4.12333.nupkg
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333
/packages/DotNetOpenAuth.OpenId.Core.4.1.4.12333
/packages/DotNetOpenAuth.OpenId.RelyingParty.4.1.4.12333
/packages
/Web_config_v1/bin/Web_config_v1.pdb
/Web_config_v1/bin/Web_config_v1.dll
/Web_config_v1/bin/WebMatrix.WebData.dll
/Web_config_v1/bin/System.Web.WebPages.Razor.dll
/Web_config_v1/bin/System.Web.WebPages.dll
/Web_config_v1/bin/System.Web.WebPages.Deployment.dll
/Web_config_v1/bin/System.Web.Razor.dll
/Web_config_v1/bin/System.Web.Mvc.dll
/Web_config_v1/bin/System.Web.Http.WebHost.dll
/Web_config_v1/bin/System.Web.Http.dll
/Web_config_v1/bin/System.Web.Helpers.dll
/Web_config_v1/bin/Org.Mentalis.Security.Cryptography.xml
/Web_config_v1/bin/Org.Mentalis.Security.Cryptography.dll
/Web_config_v1/bin/Mono.Math.xml
/Web_config_v1/bin/Mono.Math.dll
/Web_config_v1/bin/Microsoft.Web.WebPages.OAuth.dll
/Web_config_v1/bin/Microsoft.Web.Mvc.FixedDisplayModes.dll
/Web_config_v1/obj/Debug/Web_config_v1.pdb
/Web_config_v1/obj/Debug/Web_config_v1.dll
/Web_config_v1/obj/Debug/Web_config_v1.csproj.GenerateResource.Cache
/Web_config_v1/obj/Debug/Web_config_v1.csproj.FileListAbsolute.txt
/Web_config_v1/obj/Debug/Web_config_v1.csproj.CoreCompileInputs.cache
/Web_config_v1/obj/Debug/Web_config_v1.csproj.CopyComplete
/Web_config_v1/obj/Debug/Web_config_v1.csproj.AssemblyReference.cache
/Web_config_v1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Web_config_v1/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
