@if (ViewBag.active == "lien-he")
{
    <li id="menu-item-566" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-206"><a href="/lien-he"><i class="fa fa-arrows"></i> Liên Hệ</a></li>
}
else
{
    <li id="menu-item-566" class=""><a href="/lien-he"><i class="fa fa-arrows"></i> Liên Hệ</a></li>
}
