@if (ViewBag.active == "gioi-thieu")
{
    <li id="menu-item-566" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-206"><a href="/gioi-thieu"><i class="fa fa-arrows"></i> GIỚI THIỆU</a></li>
}
else
{
    <li id="menu-item-566" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/gioi-thieu"><i class="fa fa-arrows"></i> GIỚI THIỆU</a></li>
}
