<div class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
    <div>
        <i class="fa fa-home"></i>
    </div>
    <div typeof="v:Breadcrumb" class="root">
        <a rel="v:url" property="v:title" href="/" rel="nofollow">Home</a>
    </div>
    <div>
        <i class="fa fa-caret-right"></i>
    </div>
    <div typeof='v:Breadcrumb'>
        <span property='v:title'></span>
    </div>
</div>