@model IList<Web_config_v1.Models.Entity.Html>
@{
    string language =  Web_config_v1.Models.Service.DataCommon.GetSessionLanguage(Session);
}

@if (Model.Any())
{
    <div class="footer-right idx_0">
        @if (language == "vi")
        {
            <h3 class="footer-widget-title">@Model.FirstOrDefault().Ten</h3>
            <div class="textwidget">
                @Html.Raw(Model.FirstOrDefault().Html_content)
            </div>
        }
        else
        {
            <h3 class="footer-widget-title">@Model.FirstOrDefault().Ten</h3>
            <div class="textwidget">
                @Html.Raw(Model.FirstOrDefault().Html_contentEn)
            </div>
        }

    </div>
}

