
@{
    string language = Convert.ToString(Session["lang"]);
}

<div id="header-right">

    <ul class="language-chooser language-chooser-text qtranxs_language_chooser" id="qtranslate-chooser">
        <li class="lang-en first-child">
            <a href="@Url.Action("ChangeLanguage", "Home", new { lang = "en" })" hreflang="en" title="English (en)" class="qtranxs_text qtranxs_text_en">
                @if (language != "vi"){ <span style="color: red">English</span>}
                else{ <span> English</span>}
            </a>
        </li>
        <li class="lang-vi active last-child">
            <a href="@Url.Action("ChangeLanguage", "Home", new { lang = "vi" })" hreflang="vi" title="Tiếng Việt (vi)" class="qtranxs_text qtranxs_text_vi">
                @if(language == "vi") {<span style="color: red">Tiếng Việt</span> }
                else { <span>Tiếng Việt</span>}
            </a>
        </li>
    </ul>
    <div class="qtranxs_widget_end"></div>
    <div class="clear"></div>
    <a href="/vi/#" class="mobile-menu-toggle" data-target=".top-menu-mobile">Menu</a>

    <div class="widget shailan-dropdown-menu-widget">
        <!-- Menu Type : navmenu_3 -->
        <div class="shailan-dropdown-menu">
            <div id="shailan-dropdown-wrapper--1">
                <div align="right" class="dropdown-horizontal-container dm-align-right clearfix">
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <ul id="menu-top-menu" class="dropdown dropdown-horizontal dropdown-align-right">
                                        @*<li id="menu-item-9" class="artist menu-item menu-item-type-post_type menu-item-object-page menu-item-9 first-child"><a href="/vi/artists/">Tác giả</a></li>
                                        <li id="menu-item-224" class="menu-item menu-item-type-exhibition menu-item-object-cpt-archive menu-item-224"><a href="/vi/exhibition/">Triển lãm</a></li>
                                        <li id="menu-item-124" class="blog menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="/vi/publications/">Ấn bản</a></li>
                                        <li id="menu-item-9459" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9459"><a href="/vi/our-blog/">Blog</a></li>*@
                                        @{Html.RenderAction("MenuDBWeb", "Home", new { active = ViewBag.active });} 
                                        @if (language == "vi")
                                        {
                                            if (ViewBag.active == "gioi-thieu")
                                            {
                                                <li id="menu-item-114" class="about menu-item menu-item-type-post_type menu-item-object-page current-menu-item menu-item-114"><a href="/gioi-thieu">Giới thiệu</a></li>
                                            }
                                            else
                                            {
                                                <li id="menu-item-114" class="about menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="/gioi-thieu">Giới thiệu</a></li>
                                            }

                                            if (ViewBag.active == "lien-he")
                                            {
                                                <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item menu-item-13 last-child"><a href="/lien-he">Liên hệ</a></li>
                                            }
                                            else
                                            {
                                                <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13 last-child"><a href="/lien-he">Liên hệ</a></li>
                                            }
                                        }
                                        else
                                        {
                                            if (ViewBag.active == "gioi-thieu")
                                            {
                                                <li id="menu-item-114" class="about menu-item menu-item-type-post_type menu-item-object-page current-menu-item menu-item-114"><a href="/gioi-thieu">Introduce</a></li>
                                            }
                                            else
                                            {
                                                <li id="menu-item-114" class="about menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="/gioi-thieu">Introduce</a></li>
                                            }

                                            if (ViewBag.active == "lien-he")
                                            {
                                                <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item menu-item-13 last-child"><a href="/lien-he">Contact</a></li>
                                            }
                                            else
                                            {
                                                <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13 last-child"><a href="/lien-he">Contact</a></li>
                                            }
                                        }
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--/ Dropdown Menu Widget -->
    </div>
</div>
<div class="clear"></div>

<div class="top-menu-mobile">
    <ul id="menu-top-menu-1" class="menu">

        @*<li class="artist menu-item menu-item-type-post_type menu-item-object-page menu-item-9 first-child"><a href="/vi/artists/">Tác giả</a></li>
        <li class="menu-item menu-item-type-exhibition menu-item-object-cpt-archive menu-item-224"><a href="/vi/exhibition/">Triển lãm</a></li>
        <li class="blog menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="/vi/publications/">Ấn bản</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9459"><a href="/vi/our-blog/">Blog</a></li>*@
        @{Html.RenderAction("MenuDBMobile", "Home", new { active = ViewBag.active });}
        @if (language == "vi")
        {
            if (ViewBag.active == "gioi-thieu")
            {
                <li class="current-menu-item about menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="/gioi-thieu">Giới thiệu</a></li>
            }
            else
            {
                <li class="about menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="/gioi-thieu">Giới thiệu</a></li>
            }
            if (ViewBag.active == "lien-he")
            {
                <li class="current-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-13 last-child"><a href="/lien-he">Liên hệ</a></li>
            }
            else
            {
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13 last-child"><a href="/lien-he">Liên hệ</a></li>
            }
        }
        else
        {
            if (ViewBag.active == "gioi-thieu")
            {
                <li class="current-menu-item about menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="/gioi-thieu">Introduce</a></li>
            }
            else
            {
                <li class="about menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="/gioi-thieu">Introduce</a></li>
            }

            if (ViewBag.active == "lien-he")
            {
                <li class="current-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-13 last-child"><a href="/lien-he">Contact</a></li>
            }
            else
            {
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13 last-child"><a href="/lien-he">Contact</a></li>
            }



        }


    </ul>
</div>